<mat-card>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" value="">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" value="">
    </mat-form-field>
  </div>

  <button button="submit" mat-raised-button color="primary" (click)="login()">Login</button>
  <h5>Not a member yet? Register</h5>
  <button button="submit" mat-raised-button color="primary" (click)="login()">Register</button>

</mat-card>
