/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$header-font : 4em;
.background-color {
    background: linear-gradient(to right, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    color:white;
}