/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$header-font : 4em;
.background-color {
    background-color: #c23616;
    color:white;
}

