<div *ngFor="let item of avatars">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.name.first}}</mat-card-title>
    <mat-card-subtitle>{{item.location.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{item.picture.medium}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Likes</p>
      <!-- <mat-chip-list>
        <mat-chip *ngFor="let like of item.likes">{{like.activity}}</mat-chip>
      </mat-chip-list> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="primary" style="float:right;">NEXT</button>
  </mat-card-actions>
</mat-card>
</div>