<div *ngFor="let item of avatars">
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="{{item.picture.thumbnail}}"/>
    <mat-card-title><span class="bold">{{item.name.first}}</span> from <span class="bold">{{item.location.city}}</span></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{item.picture.large}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Likes</p>
      <!-- <mat-chip-list>
        <mat-chip *ngFor="let like of item.likes">{{like.activity}}</mat-chip>
      </mat-chip-list> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">LIKE</button>
    <button mat-raised-button color="primary" style="float:right;" (click)="getNextPerson()">NEXT</button>
  </mat-card-actions>
</mat-card>
</div>